
.parent{
border: 5px solid black;
margin: 25px;
display: grid;

}


.all{

    border: 2px solid rgb(70, 16, 197);
margin-bottom: 10px;
height: 220px;
padding: 10px;

}




.fon{
    background-color: rgb(179, 176, 187);
}

.up{
     
    display: grid;

grid-template-columns: repeat(6, 16%);
   justify-content: space-between; 
   
}
.down{
      
    display: grid;
    grid-template-columns: repeat(3, 16%);
    justify-content: space-between; 
}

.box1{

border: 1px solid rgb(16, 197, 55);
display: grid;


}

.box{
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(4, 20%);
align-content: space-evenly;


}

.fon1{
background-color: blueviolet;
display: grid;
grid-row-start: 2;
grid-row-end: 3;


}

.fon2{
    background-color: yellow;
    display: grid;
    grid-area: 3/2/4/4;
    
    
    }
    

.are{

    display: grid;
    
    grid-template-areas: 
    "A A A A"
    "B B B C"
    "B B B C";
}

.boxA{
    grid-area: A;
    background-color: brown;
}

.boxB{
    grid-area: B;
    background-color: rgb(13, 156, 73);
}
.boxC{
    grid-area: C;
    background-color: rgb(197, 179, 13);
}